.title-input {
	padding: 5px;
	font-family: "Roboto Mono", monospace !important;
	font-weight: bold !important;
}

.content-input {
	padding: 4px !important;
	font-family: "Roboto Mono", monospace !important;
}

.take-note-input {
	padding: 5px;
}
.create-notes-container {
	width: 500px;
	height: 100%;
	text-align: left;
	padding: 5px;
	display: flex;
	flex-direction: column;
	transition: ease-in;
	transition-duration: 500ms;
}
